div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: #012124;
    color: var(--mat-sys-primary);

    div {
        flex-direction: row;
        padding: 0.5rem;

        img {
            width: 6rem;
            height: auto;
        }
    }
}