div {
    padding: 2rem;

    a {
        color: inherit;

        p {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 1rem;
        }
    }
}

.icon {
    width: 24px;
    height: auto;
    margin-right: 8px;
}